@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(209, 127, 127);
    margin-top: 10rem;
}


.formulario-login{
    margin: auto;
    width: 90%;
    background-color: aliceblue;
    margin-top: 150px;
}

.contenedor{
    padding: 15px;
}

.input-contenedor{
    margin: auto;
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
select{
    
    font-size: 20px;
    width: 84.5%;
    padding: 2%;
    border: none;
}

.icon{
    min-width: 10%;
    text-align: center;
    color: #999;
}

.botonL, .botonR{
    border: none;
    width: 100%;
    color: antiquewhite;
    font-size: 20PX;
    background-color: #E57F84;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.botonR{
    background-color: #4297A0;
}

.botonR a{
    text-decoration: none;
    color: antiquewhite;
    padding: 4% 30%;
}

.botonL:hover{
    background: #ec646b;
    color: rgb(238, 235, 231);
}

.botonR:hover{
    background: #2a848e;
    
}

.botonR a:hover{
    color: rgb(238, 235, 231);
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

@media(min-width:768px){
    .formulario-login{
        margin: auto;
        width: 500px;
        border-radius: 5px;
    }
}